/*=======================
/* Global Styles
/*======================*/

body {
    background-image: url("../images/backg.jpg");
    background-size: cover;
}

div.ui.divbg.container {
    background-color:#fbfbfb;
    padding-top:1em;
}

.ui.link.list>a.item.white {
	color: #fbfbfb;
}

.ui.grid>.testimonal.row {
    padding-bottom: 3rem;
}

.twitter iframe {
    min-width:0px!important;
}

/*=======================
/* Slider
/*======================*/

* {
    box-sizing: border-box;
}

.slides {
    display: none;
}

/* Slideshow container */

.slideshow-container {
    max-height: 50vh;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.slideshow-container img {
    width: 100%;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}