/*body*/

body {
    background-image: url("../images/backg.jpg");
    background-size: cover;
}

div.ui.divbg.container {
    background-color:#fbfbfb;
    padding-top:1em;
}

.ui.link.list>a.item.white {
	color: #fbfbfb;
}

.ui.grid>.testimonal.row {
    padding-bottom: 3rem;
}

